    
     <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <AuthorizeView>
        <Authorized>
            <a href="Identity/Account/Manage">Sveiks, @context.User.Identity?.Name!</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Iziet</button>
            </form>
        </Authorized>
        <NotAuthorized>
            <a href="Identity/Account/Register">Reģistrēties</a>
            <a href="Identity/Account/Login">Ienākt</a>
        </NotAuthorized>
    </AuthorizeView>
    </MudAppBar>


    @code {
        bool open = false;
        void ToggleDrawer()
        {
            open = !open;
        }
    }
