@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using DataAccessLibrary.Data
@using DataAccessLibrary.Models
@using MudBlazor
@inject IRunnerData runnerData
@inject AuthenticationStateProvider GetAuthenticationStateAsync
<PageTitle>Sākums</PageTitle>

<h1>Sveicināts Supervaroņu Sistēmā! @runner_name</h1>
 

@code{
    string runner_name = ""; 
    protected async override Task OnInitializedAsync()
    {
        RunnerModel runner = new RunnerModel();
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User.Identity;
        var name = user.Name; 
        runner = runnerData.GetCurrentRunner(user.Name);
        if (runner == null)
        {
            runner = new RunnerModel();
            runner.Email = user.Name;
            runner.Username = user.Name;
            runnerData.SaveRunner(runner);
            runner_name = runner.Firstname; 
        }

    }

}
