@page "/supervaronis/{id}"
@attribute [Authorize(Roles = "Treneris")]
@using DataAccessLibrary.Models
@using System.ComponentModel.DataAnnotations
@using DataAccessLibrary
@using DataAccessLibrary.Data
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SupervaroniApp.Components
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject IRunnerData runnerData

<h1>
    @id
</h1>
<MudGrid>
    <MudItem xs="4"> 
        <MudCard>
            <MudCardHeader>

            </MudCardHeader>
            <MudCardContent>

            </MudCardContent>
           
        </MudCard>
    </MudItem>
    <MudItem xs="8">
        <MudCard>

        </MudCard>
    </MudItem>
</MudGrid>


@code {
    [Parameter]
    public string id { get; set; }
    protected async override Task OnInitializedAsync()
    {
        var authstate = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var user = authstate.User.Identity;
        var picture = authstate.User.FindFirst("urn:google:image");
        var c = picture; 
    }
}